@media (max-width: 1500px) {

  section {
    padding: 0;
  }

  .container {
    margin: 0px 50px;
    padding: 0;
  }

  /* header */
  /* .header__nav-list {
    display: none;
  } */

  .hero-container {
    margin-top: 40px;
  }

  .header__nav-list {
    position: absolute;
    left: 0;
    top: 0;
    width: 420px;
    height: 100vh;
    z-index: 10;
    margin-top: 0;
    padding: 50px;
    padding-top: 170px;
    background-color: #fff;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.2s ease-in-out, transform 0.2s ease-in-out;
  }

  .header__nav-list .nav__list {
    padding: 0;
    flex-direction: column;
  }

  .nav__item {
    margin-bottom: 60px;
  }

  .nav__link {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  .header__nav {
    padding-left: 50px;
    padding-right: 50px;
    height: 100px;
  }

  .header__nav-list--active {
    visibility: visible;
    transform: none;
  }

  .header__btn {
    display: inline-block;
    position: relative;
    margin: 38px 0px;
    border: none;
    width: 30px;
    height: 23px;
    /* background-color: #fff; */
    background-color: transparent;
  }


  .header__btn:hover span {
    background-color: rgba(255, 153, 0, 1);
  }

  .header__btn:focus {
    outline: 2px solid rgba(255, 153, 0, 1);
    outline-offset: 5px;
  }

  .header__btn:active span {
    background-color: var(--active-color);
  }

  .header__btn--active {
    z-index: 11;
  }

  .header__btn--active
  .header-btn__line:nth-child(2){
    opacity: 0;
  }

  .header__btn--active
  .header-btn__line:first-child {
    /* left: 5%; */
    top: 45%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .header__btn--active
  .header-btn__line:last-child {
    bottom: auto;
    /* left: 5%; */
    top: 45%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .header-btn__line {
    position: absolute;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: black;
  }

  .header-btn__line:nth-child(1) {
    top: 0;
  }

  .header-btn__line:nth-child(2) {
    top: 10px;
  }

  .header-btn__line:nth-child(3) {
    bottom: 0;
  }

  .header-btn__line {
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out, opacity 0.4s ease-in-out;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .logo {
    width: 150px;
    margin: 0;
  }

  /* hero */

  .hero-content {
    margin-top: -670px;
    /* margin-top: 40px;
    min-height: 668px;
    background-image: url(../img/hero-back-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 32px; */
  }

  .hero__title {
    margin: 0 auto;
    padding-top: 160px;
    width: 83%;
    font-size: 60px;
    line-height: 73px;
  }

  .hero__text {
    margin-top: 16px;
    width: 83%;
    font-size: 20px;
    line-height: 24px;
  }

  .hero__btn {
    margin-top: 60px;
  }

  .swiper img {
    min-height: 670px;
  }

  /* about */

  .about-content {
    margin-top: 84px;
  }

  .about__text {
    width: 100%;
  }

  .about-box {
    flex-direction: column;
    margin-top: 60px;
    row-gap: 32px;
  }

  .whole-about-left-box {
    width: 100%;
    min-height: 640px;
    background-image: url(../img/webp/about-box-left2.webp);
    background-size: cover;
  }

  .whole-about-right-box {
    width: 100%;
  }

  .box1 {
    background-position-x: 77px;
  }

  .box2 {
    background-position-x: 77px;
    background-position-y: 63px;
  }

  .about-right-box__title {
    margin-left: 317px;
  }

  .about-right-box__text {
    margin-left: 316px;
    width: 50%;
  }

  /* how */

  .how-content {
    margin-top: 80px;
  }

  .how__list {
    margin-top: 50px;
    column-gap: 86px;
  }

  .card {
    margin-top: 52px;
    /* min-height: 689px; */
  }

  .step {
    margin-top: 50px;
  }

  .descr__block {
    max-width: 60%;
  }

  /* .descr__text {
    width: 90%;
  } */

  .how__btn {
    margin-top: 26px;
  }

  /* faq */

  .faq-content {
    margin-top: 80px;
  }

  .faq__descr {
    font-size: 20px;
    max-width: 80%;
  }

  /* .faq__list {
    margin-top: 0px;
  } */

  .faq__text {
    width: 85%;
  }

  /* footer */

  .footer {
    margin-top: 80px;
    padding: 50px;
    justify-content: space-between;
  }

  .footer-right-box {
    display: none;
  }

  .foooter-left-box__list {
    margin-top: 13px;
  }

  .vk {
    margin-left: 20px;
  }

  .footer-centr-box {
    padding: 0;
  }

  .form__textarea {
    width: 540px;
  }

  .form__input {
    width: 540px;
  }

  .form__btn {
    padding: 19px 38px;
  }

  .form__check {
    margin-left: 20px;
  }
}

@media (max-width: 962px) {
  /* header */
  .header__nav {
    height: 69px;
    border-radius: 0px 0px 24px 24px;
  }

  .header__btn {
    margin: 23px 0;
  }

  .header-btn__line {
    height: 2px;
  }

  .nav__search {
    margin: 23px 0;
  }

  .header__nav-list {
    padding-top: 152px;
  }

  /* hero */

  .hero-content {
    margin-top: -663px;
    /* min-height: 662px;
    background-image: url(../img/hero-back-768.png);
    border-radius: 24px; */
  }

  .swiper img {
    min-height: 662px;
    border-radius: 24px;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 16px 10px;
  }

  .hero__title {
    font-size: 50px;
    line-height: 61px;
    margin-left: 40px;
    width: 90%;
  }

  .hero__text {
    margin-left: 40px;
    font-size: 18px;
    line-height: 22px;
  }

  .hero__btn {
    margin-left: 40px;
  }

  /* about */

  .about-content {
    margin-top: 78px;
  }

  .about-box {
    margin-top: 54px;
  }

  .whole-about-left-box {
    min-height: 650px;
    background-image: url(../img/webp/about-box-left768.webp);
    border-radius: 24px;
  }

  .about-left-box {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 0;
    border-radius: 24px;
  }

  .about-left-box__text {
    width: 365px;
    margin-top: 35px;
    font-size: 16px;
    line-height: 32px;
  }

  .about-left-box__btn {
    width: 175px;
  }

  .about-right-box {
    min-height: 235px;
    border-radius: 24px;
  }

  .box1 {
    background-image: url(../img/box1-768.svg);
    background-position-x: 39px;
    background-position-y: 67px;
  }

  .box2 {
    background-image: url(../img/box2-768.svg);
    background-position-x: 39px;
    background-position-y: 67px;
  }

  .about-right-box__title {
    margin-top: 34px;
    margin-left: 169px;
  }

  .about-right-box__text {
    margin-left: 169px;
    width: 70%;
    margin-top: 9px;
  }

  /* how */

  .how__list {
    margin-top: 49px;
    justify-content: space-between;
    /* column-gap: 155px; */
  }

  .how__step {
    font-size: 18px;
    line-height: 22px;
  }

  .card {
    margin-top: 50px;
  }

  /* .card1 {
    background-image: url(../img/how-card1-768.png);
    background-position: top;
  } */

  .card1 {
    background-image: none;
  }

  .descr-step {
    flex-direction: column;
  }

  .img__block {
    order: -1;
  }

  .descr__block {
    max-width: 100%;
    margin-top: 6px;
  }

  .descr__title {
    padding-top: 33px
  }

  .descr__text {
    width: 100%;
  }

  .descr__btn {
    margin-top: 25px;
  }

  .how__btn {
    padding: 20px 40px;
    margin: 0;
  }

  .how__contract {
    margin-left: 26px;
    padding: 19px 38px;
  }

  /* faq */

  .faq-content {
    margin-top: 50px;
  }

  .faq__item {
    margin-top: 30px;
  }

  .accordion__item {
    margin-top: 30px;
  }

  .faq__descr {
    font-size: 20px;
    line-height: 32px;
    max-width: 90%;
  }

  /* footer */

  .footer {
    margin-top: 110px;
    flex-direction: column;
  }

  .foooter-left-box {
    order: 2;
    margin-top: 50px;
  }

  .foooter-left-box__list {
    display: none;
  }

  .form-bottom {
    margin-top: 7px;
  }

  .form__btn {
    padding: 18px 37px;
  }

  .social {
    margin-top: 10px;
  }
}

@media (max-width: 562px) {
  body {
    min-width: 320px;
  }

  /* header */

  .header {
    min-width: 320px;
  }

  .header__nav {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0 0 16px 16px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }

  .header-btn__line {
    height: 3px;
  }

  .nav__search {
    margin: 22px 0;
  }

  .search__btn {
    margin-right: 20px;
  }

  .logo {
    width: 110px;
  }

  .header__nav-list {
    width: 320px;
    padding-left: 15px;
    padding-top: 78px;
  }

  .nav__list {
    margin-top: 0;
  }

  .nav__item {
    margin-bottom: 32px;
  }

  .nav__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }

  .search {
    width: 320px;
    height: 69px;
    border-radius: 0px 0px 24px 24px;
    left: -260px;
    top: -23px;
  }

  .search__btn-exit {
    left: 29px;
  }

  /* hero */

  .container {
    margin: 0 15px;
  }

  .hero-container {
    margin-top: 30px;
    min-height: auto;
  }

  .swiper {
    min-height: 308px;
  }

  .swiper img {
    height: auto;
    min-height: 308px;
    border-radius: 16px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 2px 10px;
  }

  .hero-content {
    margin-top: -308px;
    /* margin-top: 30px;
    padding-bottom: 0;
    border-radius: 16px;
    background-image: url(../img/hero-back-320.png);
    min-height: 308px;
    background-size: cover; */
  }

  .hero__title {
    margin: 0 auto;
    padding-top: 60px;
    padding-left: 23px;
    padding-right: 23px;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .hero__text {
    margin: 0 auto;
    width: 100%;
    padding: 0 23px;
    padding-top: 8px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .hero__btn {
    width: auto;
    margin: 0 auto;
    display: block;
    margin-top: 33px;
    padding: 13px 28px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
  }

  /* about */

  .about-content {
    margin-top: 118px;
  }

  .about__title {
    font-size: 24px;
    line-height: 29px;
  }

  .about__text {
    font-size: 14px;
    line-height: 28px;
  }

  .about-box {
    margin-top: 14px;
  }

  .whole-about-left-box {
    align-items: flex-start;
    min-height: 390px;
    border-radius: 0;
    background-image: none;
  }

  .about-left-box {
    padding: 0;
    flex-direction: column;
    background-color: #fff;
  }

  .about-box__image {
    display: block;
    border-radius: 16px;
  }

  .about-box-image {
    width: 100%;
  }

  .about-left-box__text {
    margin-top: 4px;
    width: 100%;
    color: #000;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .about-left-box__btn {
    width: 162px;
    height: 39px;
    border-radius: 8px;
    margin-top: 12px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FF9900;
    border: 2px solid #FF9900;
  }

  .box1 {
    background-image: url(../img/box1-320.svg);
    background-position: top left;
    border: none;
  }

  .box2 {
    background-image: url(../img/box2-320.svg);
    background-position: top left;
    border: none;
  }

  .about-right-box__title {
    margin: 0;
    margin-top: 61px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .about-right-box__text {
    margin: 0;
    margin-top: 4px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  /* how */

  .how-content {
    margin-top: 62px;
  }

  .how__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  .how__list {
    justify-content: space-between;
    column-gap: normal;
    margin-top: 19px;
  }

  .how__step {
    font-size: 14px;
    line-height: 17px;
  }

  .step {
    margin-top: 14px;
  }

  .descr__block {

    margin-top: 4px;
  }

  .descr__btn {
    margin-top: 0px;
  }

  .card1 {
    background-image: none;
  }

  .card {
    margin-top: 15px;
  }

  .descr__title {
    margin-top: 12px;
    padding: 0;
    /* font-weight: 500; */
    font-size: 18px;
    line-height: 32px;
  }

  .descr__text {
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .how__btn {
    margin-top: 25px;
    padding: 12px 45px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
  }

  .how__contract {
    margin-left: 6px;
    padding: 11px 31px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
  }

  /* faq */

  .faq-content {
    margin-top: 60px;
  }

  .faq__title {
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  .faq__item {
    margin: 0;
    padding-top: 30px;
  }


  .faq__descr {
    width: 85%;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .faq__btn {
    width: 30px;
    height: 30px;
    align-self: center;
  }

  .btn__line1 {
    width: 18px;
    height: 1px;
  }

  .btn__line2 {
    width: 1px;
    height: 18px;
  }

  .first-part-ac {
    margin-top: -8px;
  }

  /* footer */

  .footer {
    margin-top: 60px;
    padding: 33px 14px;
  }

  .form {
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #414141;;
  }

  .form__titile {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  .form__input {
    width: 100%;
    padding-left: 18px;
  }

  .form__textarea {
    width: 100%;
    padding: 20px 20px;
  }

  .form-bottom {
    margin: 0;
  }

  .form__btn {
    display: block;
    margin: 0 auto;
    padding: 12px 28px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }

  .form__check {
    margin: 0;
    margin-top: 20px;
    margin-left: 8px;
  }

  .foooter-left-box {
    margin-top: 15px;
  }

  .footer__logo {
    display: block;
    margin: 0 auto;
    width: 131px;
  }

  .svg-ok {
    width: 40px;
  }
  .svg-vk {
    width: 40px;
  }

  /* .social {
    margin-top: 5px;
    margin-left: 98px;
  } */

  .vk {
    margin-left: 15px;
  }

  .social {
    display: flex;
    width: 97px;
    margin: 0 auto;
    margin-top: 5px;
    justify-content: space-between;
  }
}
